@model IEnumerable<WebAppStudomat.Models.Major>

@{
    ViewBag.Title = "Index";
}

<h2>Majors</h2>

<p>
    @Html.ActionLink("New major", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Abbreviation
        </th>
        <th>
            Vice dean
        </th>
        <th>
            Number of classes
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAbbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViceDeanFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classes.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
