@model WebAppStudomat.Models.Class

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Major.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISVUNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISVUNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfLectures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfLectures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfAudit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfAudit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfLab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfSeminar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfSeminar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfConstr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfConstr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfHomework)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfHomework)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfECTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfECTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
